body {
    background: rgba(156, 146, 146, 0.863);
    color: white;
    font: normal 20px arial;
    text-align: center;
}

header {
    width: 500px;
    height: 100px;
    margin: auto;
}

section {
    
}

div {
    background: cornflowerblue;
    border-radius: 4px;
    width: 500px;
    margin: auto;
    padding: 10px 15px 10px 15px;
    box-shadow: rgb(253, 252, 252) 3px 3px 10px;
}

footer {
    padding-top: 20px;
    color: yellowgreen;
    font-style: italic;
}

